{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hola Mundo</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores deleniti ipsam natus repellat. Aut dignissimos doloremque in reprehenderit voluptates. Commodi enim eum, explicabo fugit in natus rerum soluta sunt. Ut?</p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/MACWallpaper.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer }}
